
/* Hero Code Reference:  https://www.w3schools.com/howto/howto_css_hero_image.asp*/

.box1 {
    display: flex;
    flex-wrap: wrap;
}

.hero {
    /* Image created by myself */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("src/Records.jpg");
    height: 73vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.herohead {
    text-align: center;
    position: relative;
    color: black;
}

.herohead h1 {
    font-size: 15vh;
    transform: translate(0%, -105%);
    margin-top: 15vh;
    width: 100%;
}

.herohead p {
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(17%, 0%);
    margin-top: 20vh;
}

@media screen and (max-width: 750px) {
    .box {
        margin-top: 7vh;
    }
    .herohead h1 {
        font-size: 5vh;
        transform: translate(0%, -50%);
        margin-top: 0vh;
    }
}

@media screen and (max-width: 890px) {
    .herohead p {
        font-size: 1.5rem;
        top: 50%;
        left: 50%;
        transform: translate(17%, 50%);
        margin-top: 44vh;
    }
}

@media screen and (max-width: 900px) {
    .herohead p {
        opacity: 0;
    }
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
    .herohead h1 {
        font-size: 9vh;
        transform: translate(0%, -70%);
        margin-top: 4vh;
    }
    .herohead p {
        font-size: 1.5rem;
        top: 50%;
        left: 50%;
        transform: translate(17%, 0%);
        margin-top: 36vh;
    }
}